<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Disqus Only</title>
  </head>
  <body>
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script>
      window.googletag = window.googletag || {{ cmd: [] }};
    </script>


    <div id="disqus_thread"></div>
    
    <script>
    var disqus_config = function () {{
        this.page.url        = '{url}';
        this.page.identifier = '{identifier}';
        this.page.title      = document.title;
    }};
    </script>
    
    <script src="https://{forum}.disqus.com/embed.js"
            data-timestamp="{timestamp}"></script>
    <noscript>Please enable JavaScript to view comments.</noscript>
  </body>
</html>
